body {
  background-color: white;
  border: 5px solid black;
}

#nav {
  display: flex;
  justify-content: space-around; /* or space-between */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}

.nav_a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border: 2px solid white;
}

.Titel {
  text-align: center;
}

.roundedcorners {
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  border: 3px solid black;
  border-radius: 25px;
  padding: 50px;
  margin-bottom: 70px;
}

h2 {
  text-align: center;
}

#yougothacked {
  text-align: center;
  margin-top: 400px;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: rgb(209, 209, 224);
  font-weight: bold;
  z-index: 2;
}

nav {
  position: fixed;
  bottom: 18px;
  width: 100%;
  text-align: center;
  z-index: 2;
}

aside {
  border: 3px solid black;
  border-radius: 25px;

  width: 300px;

  position: absolute;
  top: 210px;
  left: 1100px;
  display: inline-block;
}

#badge_p {
  padding: 5px;
}

#email_logo {
  border: 3px solid black;
  border-radius: 25px;

  width: 200px;

  position: absolute;
  left: 1650px;
  top: 195px;
}

#badges_foto {
  border: 3px solid black;
  border-radius: 25px;
  margin: 50px;
  width: 1000px;

  align-items: center;
}
